:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-black:#242424 
  --background-blue: #272e59;
  --line-yellow: #fbb816;
  --circle-yellow: #d79f0a;
  
  background-color: var(--background-black);
}

*{
  transition: height 400ms ease-in-out;
}
.hidden{
  height: 0;
  overflow: hidden;
}

li{
  list-style-type: none;
}

nav{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}

nav span{
  background-color: teal;
  padding: 4px;
}

ul{
  padding-inline-start: 0;
  width: fit-content;
}
a{
  color:inherit;
  text-decoration:none ;
}

nav ul:last-of-type{
color:red;
}